.task-container{
    margin-top: 1.2rem;
}

.new-task-btn{

    width: 100%;
    height: 3rem;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    border-style: none;
}