textarea.user-text-area {
    box-sizing:content-box;
    overflow: auto; 
    resize: none;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}